body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
	min-width: 600px;
    padding-top:64px;
}
header, footer, nav, section {
    display: block;
}
nav{
    position: fixed;
    z-index: 500;
    top: 0;
}
p, div{
    padding-left:10px;
}
.text-align-justify{
    text-align: justify;
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    margin: 0 0 4px;
    padding: 0 1.2em 1em;
	resize: none;
}
.large-font
{
    font-size: large;
}
.medium-font{
    font-size: medium;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
	resize: none;
	margin-bottom: 10px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.m-left
{
	  margin-left: 65px;
}

#nav
{
	min-width: 600px;
}

 .input-field input[type=text]:focus + label {
     color: #2196f3;
   }

 .input-field input[type=password]:focus + label {
     color: #2196f3;
   }

   .input-field input[type=text]:focus {
     border-bottom: 1px solid #2196f3;
     box-shadow: 0 1px 0 0 #2196f3;
   }

nav li
{
	line-height: 63px;
}

nav li a
{
	color: yellow;
	text-decoration: none;
}

.dropdown-button
{
	min-width: 180px;

}

#city label
{
    top: 0rem;
}
.dropdown-content
{
    overflow: visible;
}
#dropdown
{
    padding-left: 2px;
}
#dropdown1 {
    margin-top:64px;
    z-index: 200;
}
.active
{
	background-color: white;
}

#notfound
{
	text-align: center;
	padding-top: 50px;
    width: 200px;
    display: inline-block;
}
#error-msg{
    position: relative;
    display: inline-block;
    bottom: 55px;
}

.input-field label
{
    top: 1rem;
}
.center
{
	text-align: center;
}

#logo
{
	font-size: 24px;
	font-weight: bold;
}
.dark-blue-grey {
    background-color: #607D8B !important;
}
.dark-blue-grey.lighten {
    background-color: #808080 !important;
}
.dark-blue-grey.accent {
    background-color: #455A64 !important;
}
.dark-text {
    color: #727272 !important;
}

.hover
{
	display: none;
}

.custom-combobox a {
    margin-top: -2px;
}
.custom-combobox input {
    padding-left: 8px;
}

.ui-autocomplete {
    overflow-y: scroll !important;
}

.container-auto-width {
    max-width: 900px !important;
    width: auto;
}

.side-nav * {
    color: black !important;
}

.clickable{
    cursor: pointer;
}
#noscript{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    background-color: white;
    font-size: xx-large;
    text-align: center;
    padding: 7%;
}
img {
    max-width:100%;
    height:auto;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
{
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
}

.create-event-block {
  position: fixed;
  top: 40px;
  right: 250px;
  z-index: 500;
}

.create-event-block a
{
    box-shadow: none;
}

.create-event-block .btn-floating, .edit-event-block .btn-floating {
  width: 50px;
  height: 50px;
  background-color: #607d8b !important;
}

.create-event-block .btn-floating i, .edit-event-block .btn-floating i {
  color: white !important;
  font-size: 3rem;
  line-height: 49px;
}

.sticky-filters {
    z-index: 499;
    position: fixed;
    top: 64px;
    width: 100%;
}
.dark-blue-grey-hover:hover{
    background-color: #607D8B !important;
    color: white !important;
}
.dark-blue-grey-hover:focus{
    background-color: #607D8B !important;
    color: white !important;
}
.visible{
    height:20px;
    width: auto;
    display: inline-block;
    padding: 0px;
}
#search{
    margin: 0px
}
#search:focus{
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
#mobile-demo *{
    z-index: 1000;
}
.ui-widget select{
    font-size: 0.9em;
    font-family: Roboto;
}
.align-left{
    text-align: left;
}