body {
}


.left
{
	float: left;
}

#city
{
	margin-left: -10px;
}
.cke_dialog_ui_hbox_last
{
    display: none;
}
#cke_98_uiElement
{
    display: none;
}

.cke_dialog_title
{
    background-color: #607d8b;
}

form {
    margin-top: -4%;
}

label[for="Description"] {
    left: 0;
    position: relative;
    top: -5px;
}

.cke_textarea_inline {
    overflow: hidden;
    border-color: -moz-use-text-color -moz-use-text-color #9e9e9e;
    border-style: none none solid;
    border-width: medium medium 1px;
}

.cke_dialog_ui_input_select {
    display: inline-block;
}

.cke_dialog_ui_hbox_first input{
    margin-bottom: 4px;
}
.bold{
    font-weight: bold;
}
.container button {
    min-width: 200px;
    width: 200px;
}