@{
    Layout = "";
}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="center blue-text text-lighten-2">Субботник</h1>
        <div class="row center">
          <h5 class="col s12 light">Планируй свой отдых с нами!</h5>
        </div>
        <div class="row center">
          <a href="~/Events" id="download-button" class="btn-large waves-effect waves-light blue lighten-1 white-text">Присоедениться</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="~/Content/images/index.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 231px, 0px);"></div>
  </div>

<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">Быстро</h5>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
            <h5 class="center">Качественно</h5>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
            <h5 class="center">Легко</h5>
 
          </div>
        </div>
      </div>
    </div>
</div>

@Styles.Render(@"~/Content/Home/HomePage.css");
@Styles.Render("~/Content/metro")
    @Styles.Render("~/Content/materialize/materialize.css")
    @Styles.Render("~/Content/css")