@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!--<h1>List</h1>-->
    @{
        List<string> colors = new List<string>();
        colors.Add("#673ab7");
        colors.Add("#00bcd4");
        colors.Add("#8bc34a");
        var random = new Random();
    }
    @foreach (var curEvent in ViewBag.list)
    {
        var evnt = curEvent.Value;
        int ind = random.Next(0, colors.Count);
        <div class="tile-wide" style="background-color:@colors.ElementAt(ind);" onclick="window.location='Details/@evnt.id'">
            <div class="tile-content">
                <h3>
                    @evnt.title
                </h3>
                <p>@evnt.location</p>
            </div>
        </div>
    }
</div>
