@{
    ViewBag.Title = "ConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
<h2>Подтверждение регистрации</h2>
    <div>
        Пожалуйста, подтвердите регистрацию перейдя по ссылке на вашей почте
    </div>
</div>

