@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Content/User/user.css")
}

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    <div class="container z-depth-3">
        <h5>Забыли пароль?</h5>
        <div class="row">
            <div class="col s12 m12 12">
               Введите адрес электронной почты, на который будет отправлен новый пароль
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 12">
                <input type="email" id="email" name="email" />
            </div>
        </div>
        <button class="btn waves-effect waves-light blue" type="submit">Отправить пароль мне на почту</button>
    </div>
}