@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>
@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
    {
<div>
    <label>Please write your email and we will send your password
        <input type="email" id="email" name="email" /></label>

    <button class="btn waves-effect waves-light" type="submit">Отправить пароль мне на почту</button>
</div>
}