@{
    ViewBag.Title = "ThankYouPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Content/User/user.css")
}
<div class="container-wide container z-depth-1 m6">
    <div class="row">
        <div class="col s12 m12 12 center-align">
            <h3>На вашу почту отправлен пароль</h3>
        </div>
    </div>
</div>