@using team2project.Models
@model team2project.Models.UserViewModel

@{
    ViewBag.Title = "Activate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activate</h2>
<div>
    @User.Identity.Name<br/>
    Thank you for registration!
</div>