@using team2project.Models
@model team2project.Models.UserViewModel

@{
    ViewBag.Title = "Activate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Активация прошла успешно!</h2>
<div>
    @User.Identity.Name<br/>
    Спасибо за регистрацию!
</div>