@using team2project.Models
@model team2project.Models.UserViewModel
@section css{
    @Styles.Render("~/Content/User/user.css")
}
@{
    ViewBag.Title = "Activate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-wide container z-depth-1 m6">
    <div class="row">
        <div class="col s12 m12 12 center-align">
            <h3 class="dark-text">Активация прошла успешно!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 12 center-align">
            Ваш аккаунт активирован и через 5 секунд вы будете перенаправлены на главную страницу.
        </div>
    </div>
</div>
@section scripts{
<script>
    $(document).ready(function () {
        setTimeout(function () { document.location = location.protocol + '//' + location.host + '/' }, 5000);
    });
</script>
}