@{
    Layout = null;
}
@model System.Collections.Generic.List<Events.Business.Models.Subscriber>
<ul>
    @foreach (var subscriber in Model) {
        <li>@subscriber.Surname @subscriber.Name</li>
    }
</ul>