@{
    Layout = null;
}
@model int
@Scripts.Render("~/Scripts/jquery.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
<script type="text/javascript">
    function OnSuccess(data) {
        var results = $('#subscribers_list'); // получаем нужный элемент
        results.empty(); //очищаем элемент
        if (data) for (var i = 0; i < data.length; i++) {
            if (data[i]) results.append('<li>' + data[i].Surname + ' ' + data[i].Name + '</li>'); // добавляем данные в список
        }
    }
</script>
<div id="subscribers">
    @Ajax.ActionLink(@Model.ToString(), "GetSubscribers", "Subscribers", new AjaxOptions {OnSuccess = "OnSuccess"})
    <div id="subscribers_list"></div>
</div>