@{
    Layout = null;
}
@model int

<span id="subscribers">
    <span id="subscribed">Уже подписалось:
        <a href="#" onclick="ReloadSubscr($('#subscribers_list')); return false;">
            @Model.ToString()
        </a>
    </span>
</span>
<div id="sub_wrapper" style="display:none">
    <div id="sub_inner">
        <header>Подписавшиеся
            <span>×</span>
        </header>
        <ul id="subscribers_list"></ul>
</div>
</div>
<ul id="subscribers_onhover"></ul>
<script type="text/javascript">
    function ReloadSubscr(elem) {
        $.post("/subscribers", { id: id }, function (data, err) {
            if (data) {
                elem.empty(); //очищаем элемент
                if (data) for (var i = 0; i < data.length && i < 10; i++) {
                    if (data[i]) elem.append('<li>' + data[i].Surname + ' ' + data[i].Name + '</li>'); // добавляем данные в список
                }
            }
            else {
                console.log(err);
            }
        });
    }
</script>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}
