
body {
    position: relative;
}

.grid {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.tile-small {
    margin-left: 0;
    padding: 0;
}

    .tile-small h4 {
        text-align: center;
    }

    .tile-small p {
        padding: 0;
        text-align: center;
    }

    .tile-small:hover {
        outline: none;
    }

.description {
    padding-left: 0;
	border: 1px solid red;
}

    .description > .cell {
        padding-left: 0;
    }

.row > .cell {
    margin-left: 0;
}

tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}

    tr td:first-child {
        text-align: right;
        width: 100px;
    }

    tr td:nth-child(2n) {
        text-align: left;
        padding-left: 15px;
    }

.container {
    padding: 5px;
    margin-top: 15px;
}

    .container .comment-body {
        margin-top: 10px;
    }

    .container.row:nth-child(2).col:nth-child(1) {
        margin-top: 10px;
        border-left: 3px solid grey;
    }

    .container form fieldset {
        border: none;
    }

textarea
{
	resize: none;
}

#desc
{
	word-break:break-all;
	word-wrap: break-word;
	padding-right: 30px;
}

#user
{
	margin-left: -20px;
}

#date
{
	text-align: right;
	padding-right: 50px;
	float: right;
	margin-top: 20px;	
}

#event-name
{
	float: left;
}


.vertical-spaces
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.horizontal-spaces
{
	margin-left: 10px;
}

#submit
{
	margin-right: 50px;
}
