body {
    position: relative;
}

.grid {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.description-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-combobox-input
{
    padding-left: 8px;
}
tbody tr {    
    /*cursor: pointer;*/
}

.container
{
	width: 100%;
}

.date-filters
{
	margin-left: 250px;
}

.date-filters a
{
	margin-left: 10px;
}

.m-left
{
	margin-left: 50px;
}

.table tbody td {
    padding: 0;
    position:relative;
}

table td
{
	max-width: 175px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: Roboto;
    vertical-align: top;
    padding: 10px;
}

table a
{
	display: inline-block;
    overflow: hidden;
}
.seen {
    border: none;
}
.not-seen{
    border: 1px solid gray;
}
tr.disabled{
    color: rgb(200,200,200);
}
td a:link, td a:visited,
td a:hover, td a:active {
    color: black;
    text-decoration: none;
}

#TdDell
{
    /*padding: 0 1rem;*/
    /*width: 145px;*/
}

.text-white a
{
      color: white;
}

#TdUpdate
{
    /*width: 200px;*/
}

#TdUpdate a
{
    /*color: white;
    padding: 0 1rem;
    width: 145px;*/
}
.text-white a
{
    color: white;
}

.active
{
	font-weight: bold;
}

.width80
{
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 1%;
}
#sticky{
    width: 100%;
    padding: 0;
}
#select-menu-wrapper{
  text-align: center;
  z-index: 500;
  margin: 0 auto;
  max-width: 1280px;
}
#select-menu
{
    min-width: 85%;
    background-color: white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 7px;
}

#select-menu div label
{
    margin-top: 2px;
}

#select-menu div div
{
    margin-top: -2px;
}

#visibleButton
{
    width: 182px;
}

.table-hat
{
    font-size: larger;
}
.table-hat th
{
    font-weight: 600;
}

#td-button-color td button
{
    font-weight: normal;
}
.ui-widget .ui-widget 
{
    padding-top:2px;
}


.list-events-date {
    vertical-align: middle;
    color: #727272 !important;
    width:5%;
    font-size:1.2em;
}

.month {
    margin-bottom: -10%;
}

.day {
    font-family: Roboto;
    font-size:2em;
}

.list-events-img {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 18%;
}

.event-img {
    width:100%;
    height:100%;
}

.event-small-img {
    width:100%;
    height: 100%;
}

.list-events-content {
    text-align:left;
    font-family: Roboto;
    text-align: left;
    vertical-align: top;
    color: #78909c !important;
}
    .list-events-content h5 {
        margin-top: 0%;
    }
    
    .list-events-content h5 a {
        color: #455a64 !important;
    }

    .list-events-content h5 a:hover{
        text-decoration:underline;
    }

    .list-events-content p {
        margin-left: -1%;
        margin-top: -1px;
    }

    .list-events-content p a {
        color: #78909c !important;
    }
    .list-events-content span a {
        color: #78909c !important;
    }

.list-events-location {
    font-size: 1em;
    font-weight: 600;
}

.list-events-links {
    margin-top: -4.5%;
    float:right;
}

.list-events-buttons {
    width: 5%;
}

    .list-events-buttons div a {
        margin-bottom: 15%;
    }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
      border: 1px solid #ddd !important;
    background: #d7ebf9 url("images/ui-bg_glass_80_d7ebf9_1x400.png") 50% 50% repeat-x !important;
    font-weight: bold;
    color: #607d8b !important;
    background-color: #f2f2f2 !important;
    //border-radius: 1px !important;
}

.ui-state-focus
{
    color: #607d8b !important;
    background: none !important;
    background-color: #eeeeee !important;
    border: none !important;
}

/*.zoomEnabled:after {
    content: '';
    display: block;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(/Content/zoom.icon.png)
}*/

.ui-button-text {
    margin-top: -7px;
}
.fixed-action-btn ul {
  z-index: 99999999;
  left: 0;
  right: 0;
  text-align: center;
  position: static;
  bottom: 64px;
  margin-top: -66px;
  margin-left: -82px;
  /* z-index: 10000; */
}

.fixed-action-btn {
  position: inherit;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
  float: right;
}

.fixed-action-btn ul li
{
    /* margin-bottom: 15px; */
    margin: 2px;
    padding: 2px;
}

.btn-floating.btn-large {
  width: 43.5px;
  height: 43.5px;
  top: -23px;
  left: 7px;
}

.btn-floating.btn-large i {
  line-height: 55.5px;
  margin-top: -10px;
}
#City{
    height:20px;
    display: inline-block;
    padding: 0px;
}

.bacgr-text
{
    background-color: transparent;
    box-shadow: none;
}

.bacgr-text:hover
{
    background-color: transparent;
}

.btn-floating i {
  color: #727272 !important;
}
#event-menu
{
    margin-top: -5px;
    margin-right: -8px;
}

.image-minus
{
    background: url(Content\images\minus-icon.png);
}
