body {
    position: relative;
}

.grid {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.description-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody tr {
    cursor: pointer;
}

.container
{
	width: 100%;
}

.date-filters
{
	margin-left: 250px;
}

.date-filters a
{
	margin-left: 10px;
}

.m-left
{
	margin-left: 50px;
}

.table tbody td {
    padding: 0;
    position:relative;
}

table td
{
	max-width: 30px;
	max-height: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: Roboto;
}

table a
{
	display: inline-block;
max-height: 1em;
overflow: hidden;
}


td a:link, td a:visited,
td a:hover, td a:active {
    color: black;
    text-decoration: none;
}

.active
{
	font-weight: bold;
}