body {
    position: relative;
}

.grid {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.description-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-combobox-input
{
    padding-left: 8px;
}
tbody tr {
    /*cursor: pointer;*/
}

.container
{
	width: 100%;
}

.date-filters
{
	margin-left: 250px;
}

.date-filters a
{
	margin-left: 10px;
}

.m-left
{
	margin-left: 50px;
}

.table tbody td {
    padding: 0;
    position:relative;
}

table td
{
	max-width: 175px;
	max-height: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: Roboto;
}

table a
{
	display: inline-block;

overflow: hidden;
}
.seen {
    border: none;
}
.not-seen{
    border: 1px solid gray;
}
tr.disabled{
    color: rgb(200,200,200);
}
td a:link, td a:visited,
td a:hover, td a:active {
    color: black;
    text-decoration: none;
}

#TdDell
{
      width: 166px;
}

.text-white a
{
      color: white;
}

#TdUpdate
{
    width: 240px;
}

#TdUpdate button a
{
    color: white;
}
.text-white a
{
    color: white;
}

.active
{
	font-weight: bold;
}

.width80
{
    max-width: 85%;
    margin: 0 auto;
}

#visibleButton
{
    width: 182px;
}

.table-hat
{
    font-size: larger;
}
.table-hat th
{
    font-weight: 600;
}

#td-button-color td button
{
    font-weight: normal;
}