.container {
    max-width: 400px;
    padding: 8px;
    margin-top: 2%;
}
.container-wide {
    max-width: 650px;
    padding: 10px;
}
.container-wider {
    max-width: 700px;
    padding: 10px;
}
    .container button.autosize{
        width: auto;
    }
    .container button {
        margin: 0;
        margin-top: 10px;
        width: 100%;
        min-width: 300px;
        height: 50px;
    }

    

    .container h5 {
        width:100%;
        text-align:center;
    }

    .container .row {
        margin: 5px;
        padding: 0;
    }

        .container .row .input-field {
            padding-left: 0;
        }

        .container .row .input-field label{
            padding-left: 0;
            margin-left: 0;
        }



.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}

.reg-mess {
    margin-bottom:15px;
}

#message {
    display:none;
}
#loading-img {
    display:none;
    float:right;
    position: relative;
}
#ui-id-1 {
  overflow-y: scroll;
}