@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Home/Page404.css")
<div class="wrap">
    <div class="logo">
        <h1>404</h1>
        <p>Error occured! - Page not Found</p>
        <div class="sub">
            <p><a><!--Turn Back-->Home</a></p>
        </div>
    </div>
</div>


