@{
    ViewBag.Title = "Manager Page";
}
@model System.Collections.Generic.List<team2project.Models.EventViewModel>
@using System.Globalization
@section css{
    @Styles.Render("~/Content/Home/List.css")
}
@section scripts{
    @Scripts.Render("~/bundles/knockout");
    @Scripts.Render("~/Scripts/adminScript.js")
}
<div class="container">
    <h2 class ="center blue-text">@ViewBag.Title</h2>
    <table class="striped centered">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата, время</th>
                <th>Город</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: events">
            <tr>
                <td data-bind="text: title"></td>
                <td data-bind="text: description"></td>
                <td data-bind="text: dateAndTime"></td>
                <td data-bind="text: location"></td>
                <td><button id="visibleButton" class="btn waves-effect waves-light blue white-text" data-bind="text: toogleText, click: $data.toogleActive"></button></td>
                <td><button class="btn waves-effect waves-light red white-text" data-bind="click: function(){$root.deleteEvent($data)}">Удалить</button></td>
                <td><button class="btn waves-effect waves-light blue white-text" data-bind="click:goToDetails">Перейти на страницу события</button></td>
            </tr>
        </tbody>
    </table>
</div>