@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Home/Page404.css")
<div class="wrap">
    <div class="logo center">   
        
        <img id ="notfound" src= @Url.Content("~/Content/images/karl.jpg") alt="Image"/>
        <div class="sub">
        </div>
    </div>
</div>


